<!DOCTYPE html>
<html th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>About Page</title>
</head>
<body>
<section>
		<h1>this is about page</h1>
	<p>bangladesh is one of the beutiful contruy in the world
		but its vast population is bring us proverty, majority percent of our
		country are poor they have enough knowledge about it related task.
		bangladesh is one of the beutiful contruy in the world
		but its vast population is bring us proverty, majority percent of our
		country are poor they have enough knowledge about it related task.
	</p>
</section>

</body>
</html>